{
  "extends": ["next", "next/core-web-vitals" , "plugin:cypress/recommended"],
  "rules": {
      "indent": [
          "error",
          "tab"
      ]
  },
  "plugins": [
	"react",
	"react-hooks",
	"tsc",
	"@typescript-eslint",
	"cypress"
  ]
}
